################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/CSMedium_5.2/.vs/CSMedium_5.2/v15/Server/sqlite3
/.vs/CSMedium_5.2/v15
